@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
/* ------ mobile styles -------*/
@media screen and (max-width: 992px) {
  body {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow-x: hidden;
  }

  .wrapper {
    width: 375px;
    height: auto;
    margin: 0 auto;
    background-color: #ffffff;
  }

  .main {
    width: 375px;
    height: auto;
    background-color: #ffffff;
  }

  .aside {
    width: 375px;
    height: auto;
    background-color: #ffffff;
  }

  .container {
    width: 345px;
    height: auto;
    margin: 0 auto;
  }

  .header_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .person_photo {
    margin-right: 19px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .indicator {
    position: absolute;
    top: 180px;
    left: 190px;
    z-index: 1;
  }

  .personal_info {
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .personal_info_name {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  .personal_info_sex,
.personal_info_time {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
  }

  .personal_info_location {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .personal_info_location {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .grey {
    color: #8999A5;
  }

  .green {
    color: #2F9626;
  }

  .cvmenu {
    margin-top: 15px;
    justify-self: flex-end;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    position: relative;
  }

  .cvmenu_file,
.cvmenu_download {
    margin-right: 16px;
  }

  .cvmenu_file {
    margin-left: 216px;
    cursor: pointer;
  }

  .cvmenutop {
    width: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    z-index: 1;
  }

  .cvmenutop_name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232056;
  }

  .cvmenutop_trade {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #232056;
  }

  .jobdescription_section {
    background-color: #ffffff;
  }

  .jobdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .jobdescription_title {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  .jobdescription_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  .jobdescription_list {
    margin-left: -20px;
  }

  .jobdescription_row1 td,
.jobdescription_row3 td,
.jobdescription_row5 td,
.jobdescription_row7 td {
    width: 300px;
    margin-top: 16px;
    color: #606483;
  }

  .job_section {
    margin-top: 32px;
    background-color: #ffffff;
  }

  .job,
.job_block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .job_title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #232056;
  }

  .job_title span {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .job_block_title1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232056;
  }

  .job_block_title2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #606483;
    position: absolute;
    right: 0;
  }

  .job_block_firmtext,
.job_block_jobtext {
    margin-left: 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }

  .job_block_joblink {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8999A5;
  }

  .job_block_hidelink,
.job_block_showlink {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #5FB6E7;
  }

  .job_block_dutiestext {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .job_block_achievetext,
.job_block_leavetext {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  .job_block_dutieslist {
    color: #606483;
    margin-left: -12px;
  }

  .job_block_achievelist,
.job_block_leavelist {
    margin-left: -12px;
  }

  .job_block_portfolio {
    margin-top: 30px;
  }

  .job_block_portfolio_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .job_block_portfolio_gallery {
    width: 345px;
    height: 205px;
  }

  .popupmobile_portfolio {
    opacity: 0;
    height: auto;
    width: 375px;
    position: absolute;
    top: 1700px;
    left: 28%;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #1B1C1EBF;
  }

  .popup_portfolio_toptext {
    font-weight: 600;
    font-size: 18px;
    line-height: 46px;
    color: #ffffff;
    display: block;
    width: 375px;
    height: 46px;
    text-align: center;
  }

  .popupmobile_portfolio_pictblock {
    width: 375px;
    height: 500px;
    overflow: hidden;
  }

  .popup_portfolio_title {
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
  }

  .popup_portfolio_price {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
  }

  .popupmobile_portfolio_close {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .salary_sum {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .vacancy {
    width: 345px;
    height: auto;
    padding: 15px;
    position: relative;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: 25px;
  }

  .vacancy_button {
    display: block;
    width: 287px;
    height: 42px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
  }

  .vacancy .vacancy_button:hover .vacancy .vacancysubmenu {
    display: block;
  }

  .orange {
    background-color: #FFA438;
    color: #ffffff;
  }

  .orange:hover {
    background-color: #FF9316;
  }

  .vacancy_favourite {
    display: block;
    width: 40px;
    height: 40px;
    background: url(favourite.a45b93db.png) center no-repeat;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }

  .vacancysubmenu {
    width: 234px;
    height: auto;
    background-color: #ffffff;
    position: relative;
    display: none;
  }

  .vacancysubmenu_list {
    list-style: none;
    margin-left: -32px;
  }

  .vacansysubmenu_point {
    left: 0;
    display: block;
    margin: 2px 8px;
    padding: 8px;
    cursor: pointer;
  }

  .vacansysubmenu_point:last-child {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #334866;
  }

  .vacancysubmenu_image {
    margin-right: 8px;
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .favouritesave {
    background: url(favourite_save.6eacd141.png) center no-repeat;
  }

  .videointerview {
    width: 345px;
    height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
    border-bottom: 1px solid #E7EEF6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }

  .videointerview_text {
    margin-left: 12px;
  }

  .videointerview_maintext {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #232056;
  }

  .videointerview_secondtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8999A5;
  }

  .videointerview_arrow {
    width: 40px;
    height: 40px;
    background: url(arrowdown.f389e545.png) center no-repeat;
  }

  .feedback {
    width: 345px;
    height: auto;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: 1px solid #E7EEF6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }

  .feedback_title {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 20px;
    color: #767D86;
    cursor: pointer;
  }

  .feedback_logo {
    margin-left: 80px;
    -webkit-transform: translateY(5px) rotate(90deg);
        -ms-transform: translateY(5px) rotate(90deg);
            transform: translateY(5px) rotate(90deg);
  }

  .feedback_card {
    display: block;
    width: 345px;
    height: 47px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .line {
    width: 46.49px;
    height: 0px;
    left: 77px;
    top: 56.49px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .cyancolor {
    background-color: #5FB6E7;
    border: 3px solid #5FB6E7;
  }

  .orangecolor {
    background-color: #FFA438;
    border: 3px solid #FFA438;
  }

  .limecolor {
    background-color: #AFDDAB;
    border: 3px solid #AFDDAB;
  }

  .card_date {
    width: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card_datetext {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #1b1c1e;
  }

  .card_descriptionsecondtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8999A5;
  }

  .card_descriptionfirsttext {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1b1c1e;
  }

  .popup {
    width: 327px;
    height: 274px;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid #232056;
    background-color: #ffffff;
    position: absolute;
    top: 30px;
    left: -15px;
    z-index: 10;
    display: none;
  }

  .popup_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #232056;
  }

  .popup_textarea {
    width: 327px;
    height: 138px;
    border: 1px solid #EEF2F4;
  }

  .button_popup {
    height: 42px;
    width: 149px;
    border-radius: 6px;
    padding: 0px, 20px, 0px, 20px;
    margin: 0 4px;
    border: 0;
  }

  .gray {
    background-color: #EEF2F4;
    color: #606483;
  }

  .gray:hover {
    background-color: #cbd6db;
  }

  .desktop {
    display: none;
  }

  .scrollblock {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
}
/* ------ desktop styles ------*/
@media screen and (min-width: 993px) {
  body {
    width: 100%;
    height: auto;
    background-color: #E5E5E5;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    overflow-x: hidden;
  }

  .wrapper {
    width: 1140px;
    height: 1500px;
    margin: 0 auto;
    padding: 42px;
    background-color: #ffffff;
    content: "";
  }

  .main {
    width: 710px;
    height: auto;
    float: left;
    background-color: #ffffff;
  }

  .aside {
    width: 290px;
    height: auto;
    float: left;
    margin-left: 56px;
    background-color: #ffffff;
  }

  .container {
    width: 710px;
    height: auto;
    margin: 0 auto;
  }

  .header_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

  .person_photo {
    margin-right: 19px;
  }

  .indicator {
    position: absolute;
    top: 90px;
    left: 75px;
    z-index: 1;
  }

  .personal_info {
    width: 467px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .personal_info_name {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  .personal_info_sex,
.personal_info_time {
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
  }

  .personal_info_location {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }

  .personal_info_location {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  .grey {
    color: #8999A5;
  }

  .green {
    color: #2F9626;
  }

  .cvmenu {
    width: 120px;
    justify-self: flex-end;
    -ms-flex-item-align: stretch;
        align-self: stretch;
    position: relative;
  }

  .cvmenu_file,
.cvmenu_download {
    margin-right: 16px;
  }

  .cvmenu_file {
    cursor: pointer;
  }

  .jobdescription_section {
    background-color: #ffffff;
  }

  .jobdescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .jobdescription_title {
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }

  .jobdescription_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }

  .jobdescription_list {
    margin-left: -20px;
  }

  .jobdescription_row1 td:first-child,
.jobdescription_row2 td:first-child,
.jobdescription_row3 td:first-child {
    width: 170px;
    color: #606483;
  }

  .job_section {
    margin-top: 32px;
    background-color: #ffffff;
  }

  .job,
.job_block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .job_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #232056;
  }

  .job_title span {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .job_block_title1,
.job_block_title2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .job_block_title2 {
    line-height: 24px;
    color: #606483;
    position: absolute;
    right: 0;
  }

  .job_block_firmtext,
.job_block_jobtext {
    margin-left: 9px;
  }

  .job_block_joblink,
.job_block_hidelink,
.job_block_showlink {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8999A5;
  }

  .job_block_dutiestext,
.job_block_achievetext,
.job_block_leavetext {
    font-weight: 500;
  }

  .job_block_dutieslist,
.job_block_achievelist,
.job_block_leavelist {
    margin-left: -17px;
  }

  .job_block_portfolio {
    margin-top: 42px;
  }

  .job_block_portfolio_title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }

  .job_block_portfolio_gallery {
    width: 710px;
    height: 205px;
  }

  .popup_portfolio {
    opacity: 0;
    height: 452.5px;
    width: 666px;
    border-radius: 16px;
    position: absolute;
    top: 900px;
    left: 33%;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ffffff;
  }

  .popup_portfolio_pictblock {
    width: 630px;
    height: 340px;
    border-radius: 16px;
    overflow: hidden;
  }

  .popup_portfolio_pict {
    width: 630px;
    height: 340px;
    border-radius: 16px;
    overflow: hidden;
    background: url(portfoliobig.c7257c1c.png) center no-repeat;
  }

  .popup_portfolio_pict {
    border-radius: 16px;
  }

  .popup_portfolio_title {
    margin-top: 20px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1E1D2E;
  }

  .popup_portfolio_text {
    margin-left: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #606483;
  }

  .popup_portfolio_price {
    margin-left: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #1E1D2E;
  }

  .popup_portfolio_close {
    position: absolute;
    top: 15px;
    right: 0px;
  }

  .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .salary {
    width: 100%;
    height: auto;
    position: relative;
  }

  .salary_sum {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
  }

  .salary_text {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .vacancy {
    width: 290px;
    height: auto;
    position: relative;
    margin-top: 24px;
  }

  .vacancy_button {
    display: block;
    width: 234px;
    height: 36px;
    border-radius: 6px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
  }

  .vacancy .vacancy_button:hover .vacancy .vacancysubmenu {
    display: block;
  }

  .orange {
    background-color: #FFA438;
    color: #ffffff;
  }

  .orange:hover {
    background-color: #FF9316;
  }

  .vacancy_favourite {
    display: block;
    width: 40px;
    height: 40px;
    background: url(favourite.a45b93db.png) center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  .vacancysubmenu {
    width: 234px;
    height: auto;
    background-color: #ffffff;
    position: relative;
    display: none;
  }

  .vacancysubmenu_list {
    list-style: none;
    margin-left: -32px;
  }

  .vacansysubmenu_point {
    left: 0;
    display: block;
    margin: 2px 8px;
    padding: 8px;
    cursor: pointer;
  }

  .vacancysubmenu_image {
    margin-right: 8px;
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }

  .favouritesave {
    background: url(favourite_save.6eacd141.png) center no-repeat;
  }

  .videointerview {
    width: 290px;
    height: 74px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 16px;
    border: 1px solid #E7EEF6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 8px;
  }

  .videointerview_text {
    margin-left: 12px;
  }

  .videointerview_maintext {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #232056;
  }

  .videointerview_secondtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8999A5;
  }

  .feedback {
    width: 290px;
    height: auto;
    margin-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border: 1px solid #E7EEF6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 10px;
  }

  .feedback_title {
    font-family: Source Sans Pro, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
    text-transform: uppercase;
    margin-left: 20px;
    color: #767D86;
    cursor: pointer;
  }

  .feedback_logo {
    margin-left: 80px;
    -webkit-transform: translateY(5px) rotate(90deg);
        -ms-transform: translateY(5px) rotate(90deg);
            transform: translateY(5px) rotate(90deg);
  }

  .feedback_card {
    display: block;
    width: 250px;
    height: 47px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .line {
    width: 46.49px;
    height: 0px;
    left: 77px;
    top: 56.49px;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .cyancolor {
    background-color: #5FB6E7;
    border: 3px solid #5FB6E7;
  }

  .orangecolor {
    background-color: #FFA438;
    border: 3px solid #FFA438;
  }

  .limecolor {
    background-color: #AFDDAB;
    border: 3px solid #AFDDAB;
  }

  .card_date {
    width: 47px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .card_datetext {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #1b1c1e;
  }

  .card_descriptionsecondtext {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8999A5;
  }

  .card_descriptionfirsttext {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1b1c1e;
  }

  .social {
    width: 290px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px;
  }

  .popup {
    width: 394px;
    height: 288px;
    border-radius: 16px;
    padding: 24px;
    border: 1px solid #232056;
    background-color: #ffffff;
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 1;
    display: none;
  }

  .popup_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #232056;
  }

  .popup_textarea {
    width: 385px;
    height: 178px;
    border: 1px solid #EEF2F4;
  }

  .button_popup {
    height: 42px;
    width: 189px;
    border-radius: 6px;
    padding: 0px, 20px, 0px, 20px;
    margin: 0 3px;
    border: 0;
  }

  .gray {
    background-color: #EEF2F4;
    color: #606483;
  }

  .gray:hover {
    background-color: #cbd6db;
  }

  .mobile {
    display: none;
  }
}