doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css")
        title Test CV page 
    body
        .wrapper 
            main.main
                header.header 
                    .container
                        .header_info 
                            img.person_photo(src="./image/person.jpg", alt="person", width='100px', height='100px')
                            .personal_info
                                h1.personal_info_name Комкова Екатерина
                                span
                                    img.personal_info_sex(src="./image/logo/sex.png", alt="sex", width='16px', height='16px')
                                    span.personal_info_location 32 года, Санкт-Петербург, ст. м. Маяковская
                                br
                                span 
                                    img.personal_info_time(src="./image/logo/time.png", alt="time", width='16px', height='16px')    
                                    span.personal_info_status.grey Обновлено 
                                    span.personal_info_status.green 4 мая 2021 в 7:39
                            .cvmenu
                                img.cvmenu_file(src="./image/logo/file.png", alt="file", width='24px', height='24px')
                                img.cvmenu_download(src="./image/logo/dload.png", alt="download", width='24px', height='24px')
                                img.cvmenu_print(src="./image/logo/print.png", alt="print", width='24px', height='24px')
                section.jobdescription_section
                    .container
                        .jobdescription 
                            h2.jobdescription_title Художник-костюмер
                            span.jobdescription_text Искусство, развлечения, масс-медиа
                            ul.jobdescription_list 
                                li.jobdescription_point Дизайн, графика, живопись
                                li.jobdescription_point Корректор, ретушер
                                li.jobdescription_point Фотография
                            table.jobdescription_table
                                tr.jobdescription_row1 
                                    td Занятость
                                    td Полная занятость, Временная работа
                                tr.jobdescription_row2
                                    td График работы
                                    td Полный день, Гибкий график, Удаленная работа
                                tr.jobdescription_row3 
                                    td Готовность к переезду
                                    td Москва, Воркута, Челябинск
                section.job_section 
                    .container
                        .job  
                            h2.job_title ОПЫТ РАБОТЫ:
                                span     2 года 5 месяцев
                            hr
                            .job_block
                                span.job_block_title1 Май 2013 — Ноябрь 2020
                                    span.job_block_title2 1 год 9 месяцев
                                hr
                                span
                                    img.job_block_firmlogo(src="./image/logo/firm.png", alt="firm", width='16px', height='16px')
                                    span.job_block_firmtext Лента, федеральная розничная сеть
                                span.job_block_joblink www.lenta.ru

                                br
                                span 
                                    img.job_block_joblogo(src="./image/logo/job.png", alt="job", width='16px', height='16px')
                                    span.job_block_jobtext Менеджер по экономической безопасности
                                br
                                span.job_block_dutiestext Обязанности
                                ul.job_block_dutieslist
                                    li.job_block_dutiespoint Работа с лидами
                                    li.job_block_dutiespoint Проведение презентаций
                                    li.job_block_dutiespoint Поддержка кодовой базы системы платежных терминалов, включающей POS
                                    li.job_block_dutiespoint интерфейс пользователя, драйвера устройств, приложение мониторинга и SQL базу данных:
                                    li.job_block_dutiespoint Исправление багов;
                                    li.job_block_dutiespoint Внедрение поддержки новых устройств в т.ч. написание несколько драйверов для специфического оборудования, используя спецификации;
                                    li.job_block_dutiespoint Изменение внутреннего сетевого протокола приложения для интеграции с обновленным платежным шлюзом;
                                    li.job_block_dutiespoint Сбор и анализ статистики работы сети терминалов для оценки эффективности отдельных точек оплаты;
                                    li.job_block_dutiespoint Обработка пользовательских отзывов и предложений;
                                    li.job_block_dutiespoint Сборка дистрибутивов обновленний ПО
                                span.job_block_hidelink Скрыть
                                br
                                span.job_block_achievetext Достижения
                                ul.job_block_achievelist
                                    li.job_block_achievepoint Работа с лидами
                                    li.job_block_achievepoint Проведение презентаций
                                span.job_block_showlink Показать полностью...
                                br
                                span.job_block_leavetext Причины ухода
                                ul.job_block_leavelist
                                    li.job_blockleaveepoint Работа с лидами
                                    li.job_block_leavepoint Проведение презентаций
                                span.job_block_showlink Показать полностью...
                                .job_block_portfolio 
                                    h3.job_block_portfolio_title ПОРТФОЛИО
                                    hr
                                    .job_block_portfolio_gallery 
                                        div 
                                            img.job_block_portfolio_image(src="./image/portfolio1.png", alt="portfolio1")
                                        div
                                            img.job_block_portfolio_image(src="./image/portfolio2.png", alt="portfolio2")
                                        div
                                            img.job_block_portfolio_image(src="./image/portfolio3.png", alt="portfolio3")
                                        div
                                            img.job_block_portfolio_image(src="./image/portfolio4.png", alt="portfolio4")
                                        div
                                            img.job_block_portfolio_image(src="./image/portfolio5.png", alt="portfolio5")
                                        div
                                            img.job_block_portfolio_image(src="./image/portfolio6.png", alt="portfolio6")
                                        div
                                            img.job_block_portfolio_image(src="./image/portfolio7.png", alt="portfolio7") 
            aside.aside
                .salary
                    span.salary_sum 55000 &#8381;
                    span.salary_text ...
                .vacancy
                    button.vacancy_button.orange(type="button") Предложить вакансию
                    .vacancy_favourite
                .videointerview
                    img.videointerview_logo(src="./image/logo/videointerview2.svg", alt="videointerview", width='47px', height='44px')
                    .videointerview_text
                        span.videointerview_maintext Видеособеседование
                        br
                        span.videointerview_secondtext Пригласите кандидата пройти собеседование онлайн
                .feedback
                    span.feedback_title История откликов
                        img.feedback_logo(src="./image/logo/arr.png", alt="arrow")
                        hr
                    .feedback_card
                        .card_date
                            img.card_dateimage(src="./image/logo/invitation.png", alt="invitation", width='24px', height='24px') 
                            span.card_datetext 28.10.21
                        .line.cyancolor
                        .card_description
                            span.card_descriptionsecondtext Видеособеседование
                            br
                            span.card_descriptionfirsttext Продавец кассир
                    .feedback_card
                        .card_date
                            img.card_dateimage(src="./image/logo/add2.png", alt="add", width='24px', height='24px') 
                            span.card_datetext 28.10.21
                        .line.orangecolor
                        .card_description
                            span.card_descriptionsecondtext Отклик 
                            br
                            span.card_descriptionfirsttext Продавец кассир
                    .feedback_card
                        .card_date
                            img.card_dateimage(src="./image/logo/phone.png", alt="phone", width='24px', height='24px') 
                            span.card_datetext 21.12.21
                        .line.limecolor    
                        .card_description
                            span.card_descriptionsecondtext Телефонное интервью 
                            br
                            span.card_descriptionfirsttext Продавец кассир
                .social
                    img.sociallogo(src="./image/logo/insta.png", alt="instagramm", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/youtube.png", alt="youtube", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/vk.png", alt="vk", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/fb.png", alt="fb", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/tg.png", alt="tg", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/twitter.png", alt="twitter", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/ok.png", alt="ok", width='29px', height='29px')
                    img.sociallogo(src="./image/logo/tiktok.png", alt="tiktok", width='29px', height='29px')
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js")
            script(src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js')
            script(src="script.js")